/* DECLARAÇÃO DE VARIAVEIS NO CSS */
:root{
    --primaria:#3e4095;
    --secundaria:#00Afee;
    --laranja:#f58634;
    --texto:#4b4b4b;
    --label-categoria:#d9c505;
}

/* reset de espaçamento do projeto */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* fonte */
body{
    font-family: 'Poppins', sans-serif;
}

/* tornando flex, centralizando verticamente e horizontalmente e dando espaçamento entre os menus */
#cabecalho{
    display: flex;
    justify-content:space-between;
    align-items: center;    
    padding-top: 10px;
    padding-bottom: 10px;
    height: 65px;
    
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* tornando o menu flex e tirando as bolinhas */
#menu ul{
    display: flex;
    list-style: none;
}

#menu ul li{
    padding-left: 20px;
    padding-right: 20px;        
}

#menu a{
    color: var(--texto);
    font-weight: 500;
}

#botao-menu-mobile{
    display: none;
}

.btn-secundario{
    color:white;    
    background-color: var(--secundaria);
    border-radius: 5px;
    padding: 5px 10px;
}

#banner{
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}
/* barra de pesquisa antes do form */
#fromPesquisa{
    background-color: white;
    border-radius: 30px;
    color:var(--texto);
    font-size: 1.5em;
    padding: 8px;

}
/* barra de pesquisa form */
#fromPesquisa form{
    display: flex;
    align-items: center;
    
}

#banner div p{
    margin:10px;
}


/* BOTAO PESQUISAR */
#fromPesquisa form button{
    background-color: var(--primaria);
    border-radius: 30px;
    color:white;
    padding: 10px 40px;
    font-weight: 700;
    border: none;
}
/* O QUE ESTA PROCURANDO E LOCALIZAÇÃO */
#fromPesquisa form input{
    background-color: white;
    font-size: 1rem;
    border: none;
}

/* TAMANHO DO ICONE */
#fromPesquisa form i{
    padding: 10px;
    font-size: 1.2rem;
}

/* LISTA DE SERVIÇOS */
.lista-servico-banner ul li {
    margin: 5px;
    display: inline-block;
    font-size: 0.8em;
    border: 2px dotted;
    border-radius: 30px;
    padding: 5px 20px;
    border
}

.secao-titulo{
    border-left: 5px solid var(--primaria);
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
}

.titulo{
    display: flex;
    justify-content: space-between;
}

.titulo a{
    color: var(--texto);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

/* LISTA DE SERVIÇOS */

.lista-card-categorias{
    display: flex;
    gap: 40px;
}

.lista-card-categorias img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.lista-card-categorias div{
    position: relative;
}

.lista-card-categorias span{
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: var(--laranja);
    padding: 0px 20px;
    font-size: 12px;
    border-radius: 15px;
}

.lista-card-servicos{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.lista-card-servicos img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.card-servico{
    width: calc(33% - 30px);
}









/* ESTILO MOBILE */

@media(max-width: 767px){

    #botao-menu-mobile{
        display: block; /* Mostrar elemento na tela*/
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
    }

    #menu{
        position: absolute;
        background-color: #fff;
        width: 250px;
        height: 100vh;
        top: 65px;
        z-index: 999999;
        box-shadow: 2px 2px 5px #2f2f2f;
        
    }

    #menu ul{
        margin-top: 30px;
        display: block;
    }

    #menu li{
        padding: 10px;
    }

}